<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>julia's twitter archive</title>
  <link rel="stylesheet" href="nitter.css">
  <link rel="stylesheet" href="twitter.css">
  <link rel="stylesheet" href="fonts/css/fontello.css">
  <link rel="stylesheet" href="styles.css">
  <script src="js/vue.global.js"></script>
  <script src="js/minisearch.min.js"></script>
</head>
<body>
  <div class="wrapper" id="app">
    <h1>julia's twitter archive</h1>

    <div class="search-bar">
      <form>
        <span style="line-height: 1.5rem; margin-right: 1rem;"> Search:  </span>
        <input class="search" v-model="search" @submit.prevent.stop="search($event)"> </input>
      </form>
    </div>
    <div class="timeline" ref="timeline" style="display: none">
      <div class="timeline-item" v-for="item in currentTweets()">
        <a class="tweet-link" :href="url(item)"></a>
        <div class="tweet-body">
          <div><div class="tweet-header">
              <a class="tweet-avatar" href="/"><img class="avatar round" src="profile.jpg" alt=""></a>
              <div class="tweet-name-row">
                <div class="fullname-and-username">
                  <a class="fullname" href="/" title="🔎Julia Evans🔍">🔎Julia Evans🔍</a>
                  <a class="username" href="/" title="@b0rk">@b0rk</a>
                </div>
                <span class="tweet-date"><a :href="url(item)" title="${date}">{{shortDate(item.created_at)}}</a></span>
              </div>
            </div></div>
            <div class="tweet-content media-body" dir="auto" v-html="fix_full_text(item)"> </div>
            <div class="tweet-stats">
              <span class="tweet-stat"><div class="icon-container"><span class="icon-retweet" title=""></span> {{item.retweet_count}}</div></span>
              <span class="tweet-stat"><div class="icon-container"><span class="icon-heart" title=""></span> {{item.favorite_count}}</div></span>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="searchDocuments.js"></script>
<script src="app.js"></script>
</html>
