.wrapper {
    max-width: 566px;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    margin: 1rem;
    display: block;
}

body {
    background-color: white;
}

.search-bar > form {
    margin-top: 0;
}
